body {
  margin: 0;
  font-family: "Rubik", sans-serif;
}
h1 {
  font-size: 50px;
  color: rgb(32, 32, 32);
}
h2 {
  font-size: 40px;
  color: rgb(51, 49, 49);
}
.half-width h1 {
  line-height: 20px;
  margin-bottom: 50px;
}
.tomato-color {
  color: rgb(255, 48, 11);
}
.head-section {
  background-image: url(images/top-bg3.png);
  background-repeat: no-repeat;
}
.flexible-container {
  display: flex;
}
.half-width {
  width: 50%;
  margin-left: 5%;
}
.half-width img {
  width: 80%;
}
.btn {
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    rgb(238, 116, 1),
    rgb(231, 174, 68)
  );
  padding: 20px 28px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  color: white;
  box-shadow: 2px 3px 10px orange;
}
#intro {
  margin-bottom: 50px;
  color: rgb(37, 37, 37);
  line-height: 25px;
}

/* Nav Bar */
.nav-bar {
  display: flex;
  align-content: center;
  justify-content: center;
}
.nav-bar {
  width: 70%;
}
.nav-bar ul {
  list-style-type: none;
}

ul > li {
  padding: 10px 30px;
  display: inline-block;
}
ul a {
  text-decoration: none;
}
.logo {
  margin-top: -22px;
}
#sign-up-btn {
  color: white;
  padding: 16px 24px;
  background-image: linear-gradient(
    to right,
    rgb(238, 116, 1),
    rgb(231, 174, 68)
  );
  border-radius: 12px;
}
#home-btn {
  color: orange;
}

/* About section  */
.about-section {
  background-image: url(images/about-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#about-me {
  padding-top: 100px;
  margin-right: 150px;
}
#about-me > p {
  margin-bottom: 100px;
}
/* Recipe  */
.recipe-container {
  margin-bottom: 100px;
}
.recipes {
  margin: 0 5% 0 5%;
}
.recipe {
  width: 25.33%;
  margin-left: 3%;
  margin-right: 3%;
  margin: auto;
  padding: 15px;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 3px 23px rgb(158, 155, 149);
}
.recipe img {
  width: 98%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.recipe h3 {
  font-size: 28px;
  font-weight: 600;
  color: rgb(20, 20, 20);
}
.recipe p {
  color: rgb(56, 56, 56);
  text-align: justify;
}
.recipe-heading h2 {
  text-align: center;
  padding: 30px 0;
}
.recipe-heading p {
  margin: auto;
  width: 600px;
  margin-bottom: 100px;
  font-size: 18px;
  color: rgb(56, 56, 56);
}

/* Footer section  */

footer {
  background-image: url(images/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-top: 50px;
}
.social-link img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.play-store {
  width: 50%;
}
.footer-link {
  margin-bottom: 30px;
}
.footer-link a {
  display: block;
  text-decoration: none;
  color: white;
  padding-top: 16px;
  width: 50px;
}
.blakish-color {
  color: rgb(58 19 13);
}
.address-section > h2 {
  color: orangered;
}
.copyright {
  text-align: center;
  padding-bottom: 8px;
}
